# config.yaml
common:
  log_format: json
  log_interval: 200
  tensorboard_logdir: tensorboard
  fp16: true

checkpoint:
  save_dir: checkpoints
  save_interval_updates: 1000
  keep_interval_updates: 5
  no_epoch_checkpoints: true

dataset:
  num_workers: 6
  batch_size: 8
  batch_size_valid: 8

distributed_training:
  ddp_backend: pytorch_ddp
  distributed_world_size: 1

task:
  _name: audio_pretraining
  data: ???  # 将在命令行中指定
  normalize: true
  labels: null
  sample_rate: 16000
  max_sample_size: 250000
  min_sample_size: 32000
  precompute_mask_indices: true

model:
  _name: data2vec_multi
  embed_dim: 1024
  num_heads: 8
  encoder_dropout: 0.1
  attention_dropout: 0.1
  dropout_input: 0.0
  layerdrop: 0.0
  modalities:
    audio:
      feature_encoder_spec: "[(512, 10, 5)] + [(512, 3, 2)] * 4 + [(512,2,2)] + [(512,2,2)]"
      mask_prob: 0.7
      mask_length: 5

criterion:
  _name: wav2vec
  infonce: false

optimization:
  max_update: 100000
  lr: [1e-4]
  clip_norm: 10.0

optimizer:
  _name: adam
  adam_betas: (0.9,0.98)
  adam_eps: 1e-6

lr_scheduler:
  _name: polynomial_decay
  warmup_updates: 10000
  total_num_update: 100000